.LoginWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBox {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  border-radius: 10px;
  background-color: rgb(190, 190, 247);
  padding-top: 50px;
  padding-bottom: 50px;
}

#errorMessage p {
  color: red;
}