@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

h2, h3, button, select {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 40px;
}

h2 {
    font-size: 1.1em;
}

h3, button, select, ul {
    font-size: 0.6em;
}

h3, h2, ul {
    margin: 0.4em 0;
}

.textMainColor {
    color: #BADA55;
}

.boxLeft {
    display: flex;
    justify-content: flex-start !important;
}

.border {
    width: 90%;
    height: 100%;
    padding: 50px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.boxInline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #BADA55;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px #000 solid;
    margin: 30px 0;
}

.boxInline{
    column-gap: 30px;
}

section {
    justify-content: flex-start;
}

.workoutList {
    border-radius: 5px;
    border: 1px #000 solid;
}
.workoutList h3, ul {
    padding-inline: 30px;
}

.workoutList hr {
    border: 0;
    border-bottom: 1px #000 solid;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none
}
li {
    line-height: 1.5em;
}
.lists.boxInline > .boxInline{
    align-items: flex-start;
}

.lists.boxInline button{
    margin: 0;
}

textarea {
    width: 300px;
    resize: none;
}
